.moduleName {
  font-family: var(--greek-font), serif;
  font-weight: var(--pithos-font-weight-bold);
  text-transform: uppercase;
  color: var(--golden-color) !important;
}

.moduleName a {
  color: var(--golden-color) !important;
  text-decoration: none;
}

.moduleName a:hover {
  color: var(--golden-color) !important;
  text-decoration: underline;
}
